*{
    margin: 0;
    padding: 0;
}

/*PROPRIEDADES DO ELEMENTO PAI - INICIO*/

#content1{
    background-color: lightgray;
    height: 350px;
    display: flex;
    flex-wrap: wrap; /*quebra de linha*/
    justify-content: flex-end; /*alinhamento dos itens no container - alinhado ao final*/
    align-items: center; /*alinhamento vertical dos itens no container - centralizado*/
}

.item1{
    height: 50px;
    width: 300px;
    background-color: white;
    margin: 5px; 
    box-shadow: 2px 3px 8px #00000070;       
}

#content2{
    background-color: lightgreen;
    height: 350px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap-reverse; /*quebra de linha invertida*/
    justify-content: space-around; /*alinhamento dos itens no container - distribuiçao uniforme da extremidade para o centro*/
    align-items: stretch; /*alinhamento vertical dos itens no container - alonga altura aé a base do container. OBS.:nao pode ter um height definido no item para poder funcinar*/
}

.item2{
    width: 300px;
    background-color: white;
    margin: 5px; 
    box-shadow: 2px 3px 8px #00000070;        
}

#content3{
    background-color: lightcoral;
    height: 350px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /*alinhamento dos itens no container - distribuiçao uniforme do centro para extremidade*/
    align-items: baseline; /*alinhamento vertical dos itens no container - a linha do box filho fica na base do conteudo. OBS.:nao pode ter um height definido no item para poder funcinar*/
}

.item3{
    width: 300px;
    background-color: white;
    margin: 5px; 
    box-shadow: 2px 3px 8px #00000070;        
}

/*PROPRIEDADES DO ELEMENTO PAI - FIM */

/*PROPRIEDADES DO ELEMENTO FILHO - INICIO*/

#content4{
    background-color: lightseagreen;
    height: 200px;
    margin-top: 10px;
    display: flex;
}

.item4{
    height: 50px;
    width: 300px;
    background-color: white;
    margin: 5px; 
    box-shadow: 2px 3px 8px #00000070;       
}
/*ORDER - define a ordem dos box dentro do container*/
.item4:nth-child(1){ /*para manipular cada item sem definir uma class individual*/
    order: 2;
}
.item4:nth-child(2){
    order: 1;
}
.item4:nth-child(3){
    order: 4;
}
.item4:nth-child(4){
    order: 3;
}

#content5{
    background-color: lightsalmon;
    height: 200px;
    margin-top: 10px;
    display: flex;
}

.item5{
    height: 50px;
    width: 100px;
    background-color: white;
    margin: 5px; 
    box-shadow: 2px 3px 8px #00000070;
}
/*FLEX-GROW - define o quanto o elemento deve crescer no container*/
.item5:nth-child(2){ 
    flex-grow: 2; /*o elemento fica o dobro do tamanho dos demais*/
}

#content6{
    background-color: #fbf195;
    height: 200px;
    margin-top: 10px;
    display: flex;
}

.item6{
    height: 50px;
    width: 500px;
    background-color: white;
    margin: 5px; 
    box-shadow: 2px 3px 8px #00000070;
}
/*FLEX-SHRINK - define o quanto o elemento deve diminuir no container*/
.item6:nth-child(2){ 
    flex-shrink: 2; /*o elemento fica menor em relação aos demais*/
}